.wrapper{
    position: relative;
  text-align: center;
  color: white;
}

.TextCentered{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
.carousel{
    padding-bottom: 1rem;
}

.OurMenu{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #C68B59;
    font-size: 0.9rem;
    text-align: center;
}

.OurMenu h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #d3d3d3;
}

.OurMenu h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: black;
}

.OurMenu img {
    height: 160px;
    width: auto;
    border-radius: 20px;
}

.OurMenu td {
    padding: 1rem;
}

.OurMenu tr {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.OurMenu table {
    margin-left: auto;
    margin-right: auto;
}

.OurMenu td {
    color: #b4b4b4;
    font-weight: 100;
}


