.wrapper{
    background-color: white;
    position: relative;
    text-align: center;
    padding-top: 0.7rem;
}

/* .TextCentered{
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
    
.carousel{
    padding-bottom: 1rem;
}

.OurMenu{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #C68B59;
    font-size: 0.9rem;
    text-align: center;
}

.OurMenu h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #d3d3d3;
}

.OurMenu h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: black;
}

.product{
    font-weight: bold;
    font-size: 0.9rem;
}

.product h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #d3d3d3;
}
.product img {
    height: 160px;
    width: auto;
    border-radius: 20px;
}

.product h4 {
    padding-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: black;
}

.product p{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: #757575;
    font-weight: 100;
    font-size: 18px;
}

.product b{
    color: #C68B59;
}

.container-fluid{
    background-color: #D3D3D3;
    color: #757575;
    padding-left: 10rem;
}

.leftabout {
    text-align: left;
    font-size: 18px;
}

.rightabout img {
    width: auto;
    height: 250px;
}

.visitUs{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #C68B59;
    font-size: 0.9rem;
    text-align: center;
}

.visitUs h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #d3d3d3;
}

.frame{
    width: 100%;
    height: 100%;
    position: static;
    padding-bottom: 3rem;
}

.frame iframe{
    
    overflow:hidden;
    background:none!important;
    height: 720px;
    width: 1366px;
}


.galleryTitle {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #C68B59;
    font-size: 0.9rem;
    text-align: center;
}

.galleryTitle h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #757575;
    font-weight: 550;
}

.gallery{
    background-color: #D3D3D3;
    color: #d3d3d3;
}

.galleryTable .image {
    opacity: 0.7;
    transition: .5s ease;
    backface-visibility: hidden;
}

.galleryTable .image:hover {
    opacity: 1;
}

.galleryTable td{
    padding-top: 2rem;
}

.galleryTable img {
    border-radius: 30px;
}

.galleryTable{
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    width: 100%;
}

.contact h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
}

.contact .text1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 0.9rem;
}

.contact h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #d3d3d3;
    font-size: 1.5rem;
}

.contact img {
    width: 100px;
    height: auto;
}

.tableContact {

}

.cc{
    background-color: #C68B59;
}

.cc2{
    

}