@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

.headerNav {
   background-image: linear-gradient(white,rgb(236, 236, 236), rgb(204, 204, 204));
   
   width: 100%;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,.2)
}

.title{
    color: #966b6b;
    font-family: 'Helvetica Neue', sans-serif; 
    font-weight: 400; 
    letter-spacing: -1px; 
    line-height: 1;
}


a {
    text-decoration: none;
}

h4 {
    color: #966b6b;
    font-family: 'Helvetica Neue', sans-serif; 
    font-weight: 700; 
    letter-spacing: -1px; 
    line-height: 1;
}

.navigation a :hover{
    color: rgb(218, 216, 216);
    transition: .3s;
    
}

.sosmed {
    display: flex;
    padding-top: 0.5rem;
}


.sosmed li {
    list-style: none;
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.sosmed li span {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: #966b6b;
    font-size: 25px !important;
    transition: 1.5s ease-out;
}

.sosmed li:hover span {
    color: white;
    transition: .3s;
}

.sosmed li:nth-child(1):hover span {
    background: #966b6b !important;
}

.sosmed li:nth-child(2):hover span {
    background: #966b6b !important;
}

.sosmed li:nth-child(3):hover span {
    background: #966b6b !important;
}
